.about-container{
  background-color: rgb(223, 235, 255);
  font-family: 'Quicksand', sans-serif;
  min-height: 100vh;
  margin: auto;
}

.about-container h1{
  font-size: 45px;
  font-weight: bolder;
  text-align: center;
  margin: 0;
  padding-top: 40px;
}

.picture-wrapper{
  align-items: center;
  background-image: url('../../Assets/ProfileImg.png');
  background-position-x: 100%;
  background-position-y: 0%;
  border-radius: 50%;
  box-shadow: 5px 5px 5px rgb(80, 79, 79);
  display: flex;
  height: 240px;
  margin: auto;
  transform: rotate(-10deg);
  transition: all ease-in-out 0.2s;
  width: 240px;
}

.picture-wrapper:hover{
  transform: rotate(-8deg);
}

.title{
  display: flex;
  flex-direction: column;
  margin-top: 0;
  text-align: center;
  width: 100%;
}

.title h3{
  font-size: 20px;
  margin-top: 10px;
}

.title p{
  font-size: 20px;
  margin: auto;
  padding-bottom: 10px;
  width: 68%;
}

.who{
  color: red;
  font-size: 20px;
  margin: 0;
  padding-bottom: 5%;
  text-align: center;
}