.contact-container{
  background-color: rgb(239, 235, 255);
  font-family: 'Quicksand', sans-serif;
  min-height: 100vh;
  margin: auto;
}

.contact-container h1{
  font-size: 45px;
  font-weight: bolder;
  text-align: center;
  margin: 0;
  padding-top: 40px;
}

.contact-container p{
  color: red;
  font-size: 20px;
  margin: 0;
  padding-bottom: 5%;
  text-align: center;
}

.contact-icons{
  display: flex;
  gap: 25px;
  justify-content: center;
}

.contact-icons button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 45px;
  outline: none;
  padding: 0;
}

.contact-icons svg{
  transition: all ease-in-out 0.25s;
}

.contact-icons svg:hover{
  color: rgb(255, 56, 56);
  transform: scale(1.1);
}

.form-container{
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(80, 79, 79);
  display: flex;
  flex-direction: column;
  min-height: 500px;
  margin: auto;
  width: fit-content;
}

.form-container p{
  color: black;
  padding-bottom: 30px;
  padding-top: 30px;
  width: 95%;
}

form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 60%;
}

form input{
  min-height: 25px;
  max-height: auto;
}

.greeting-msg{
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.resume-icon{
  color: black;
  font-size: 40px;
  padding-top: 2px;
}

textarea{
  height: 150px;
}

[type="submit"]{
  background: #2788ff;
  border: none;
  border-radius: 7px;
  color: aliceblue;
  cursor: pointer;
  font-size: 19px;
  font-weight: 600;
  height: 30px;
  margin-bottom: 20px;
  margin-top: 10px;
  transition: all 0.3s;
}

[type="submit"]:hover{
  background-color: rgb(255, 56, 56);
  color: aliceblue;
  transform: scale(1.02);
}

