.project-msg{
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.projects-container{
  background-color: rgb(230, 230, 230);
  font-family: 'Quicksand', sans-serif;
  min-height: 100vh;
  margin: auto;
  width: auto;
}

.project-msg h1{
  font-size: 45px;
  font-weight: bolder;
  text-align: center;
  margin: 0;
  padding-top: 40px;
}

.project-msg p{
  color: red;
  font-size: 20px;
  margin: 0;
  text-align: center;
}

.project-card{
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: auto;
  margin-bottom: 5px;
  padding: 0 0 10px 0;
  width: 250px;
}

.project-card img{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 230px;
  width: auto;
}

.description h2{
font-size: 20px;
text-align: center;
}

.description p{
  font-size: 17px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

.technologies{
  font-size: 30px;
  text-align: center;
}

.project-links{
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
  padding-bottom: 10px;
}

.project-links button{
  background: #2788ff;
  border: none;
  border-radius: 7px;
  color: aliceblue;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  height: 30px;
  transition: all 0.25s;
}

.project-links button:hover{
  background-color: rgb(255, 56, 56);
  color: aliceblue;
  transform: scale(1.02);
}

.projects-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 5%;
}